/* ====================================== */
/*              Destination               */
/* ====================================== */
.Destination {
  text-align: center;
  display: grid;
  row-gap: 2rem;
  place-items: center;
  padding-inline: 2rem;
  h1 {
    @include numbered-title;
  }

  .Destination-list {
    @include underlined-menu($bottom: bottom);
    display: flex;
    justify-content: space-evenly;
    button {
      color: var(--clr-accent);
      background: transparent;
      span {
        @include sr-only;
      }
    }
  }

  img {
    max-width: 60%;
  }

  article {
    h2 {
      font-family: var(--ff-serif);
      text-transform: uppercase;
      font-size: var(--fs-900);
    }

    > p {
      color: var(--clr-accent);
    }

    .Destination-meta {
      display: flex;
      flex-direction: column;
      margin-top: 2.5rem;
      padding-top: 2.5rem;
      padding-bottom: 2rem;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      justify-content: space-between;
      gap: 2rem;
      h3 {
        color: var(--clr-accent);
        font-family: var(--ff-sans-cond);
        font-size: var(--fs-200);
        letter-spacing: var(--letter-spacing-2);
      }
      p {
        text-transform: uppercase;
        font-family: var(--ff-serif);
        font-size: var(--fs-500);
      }
    }
  }
}

@media (min-width: 35em) {
  .Destination {
    h1 {
      justify-self: start;
      margin-top: 2rem;
    }

    article {
      .Destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}

@media (min-width: 45em) {
  .Destination {
    row-gap: 0;
    padding-inline: 4rem;
    grid-template-areas:
      "title title"
      "image lists"
      "image content";

    h1 {
      font-size: var(--fs-400);
      margin-top: 1rem;
      grid-area: title;
    }

    img {
      grid-area: image;
    }

    .Destination-list {
      justify-content: start;
      gap: 2rem;
      max-width: 50ch;
    }

    article {
      text-align: left;
      grid-area: content;
      h2 {
        font-size: var(--fs-700);
      }
      p {
        font-size: var(--fs-200);
        max-width: 50ch;
      }
      .Destination-meta {
        justify-content: start;
        padding-top: 1rem;
        p {
          font-size: var(--fs-400);
        }
      }
    }
  }
}
