$mobile: url('../assets/home/background-home-mobile.jpg');
$tablet:  url('../assets/home/background-home-tablet.jpg');
$desktop: url('../assets/home/background-home-desktop.jpg');


:export{
  mobile: $mobile;
  tablet: $tablet;
  desktop: $desktop;
}