@import "./reset.css";
@import "./destination";

:root {
  /* COLORS */
  --clr-white: rgb(255, 255, 255);
  --clr-accent: rgb(208, 214, 249);
  --clr-black: rgb(11, 13, 14);

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* letter-spacing */
  --letter-spacing-1: 4.75px;
  --letter-spacing-2: 2.7px;
  --letter-spacing-3: 2.35px;
}

/* medium size */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

@mixin underlined-menu($underline-gap: 1rem, $bottom: right) {
  > * {
    cursor: pointer;
    padding: $underline-gap 0;
    border: 0;
    border-#{$bottom}: 0.2rem solid transparent;
  }
  > *:hover {
    border-color: rgba(255, 255, 255, 0.2);
  }
  > *:focus {
    border-color: rgba(255, 255, 255, 1);
  }
  .active {
    color: var(--clr-white);
    border-color: rgba(255, 255, 255, 1);
  }
}

/* 에니메이션 끄기 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  min-height: 100vh;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: var(--fs-400);
  font-family: var(--ff-sans-normal);
  line-height: 1.5;
  overflow-x: hidden;
}

.bg-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;

  background-size: cover;
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ====================================== */
/*                 Header                 */
/* ====================================== */
.Header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .Logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  }
  nav {
    .Primary-nav {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1.5rem);
      display: flex;
      flex-direction: column;
      padding: #{"min(20rem, 15vh)"} 0 #{"min(20rem, 15vh)"} 2rem;
      position: fixed;
      z-index: 1000;
      top: 0;
      right: 0;
      height: 100vh;
      width: 50%;
      transform: translateX(100%);
      transition: transform 500ms ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      @include underlined-menu;
      li a {
        letter-spacing: var(--letter-spacing-2);
        font-family: var(--ff-sans-cond);
        span {
          margin-right: 0.5em;
          font-weight: 700;
        }
      }
    }

    .Primary-nav[data-visible="true"] {
      transform: translateX(0%);
    }
  }

  .Mobile-menu-toggle {
    z-index: 2000;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
}

/* tablet */
@media (min-width: 35em) {
  .Header {
    nav {
      height: 100%;
      .Primary-nav {
        flex-direction: row;
        position: static;
        height: inherit;
        width: inherit;
        transform: none;
        transition: none;
        align-items: center;
        padding: 0 2rem;
        gap: 2.5rem;
        @include underlined-menu($underline-gap: 2rem, $bottom: bottom);
        li a span {
          display: none;
        }
      }
    }
  }

  .Mobile-menu-toggle {
    display: none;
  }
}

/* desktop */
@media (min-width: 45em) {
  .Header {
    .logo {
      order: 1;
    }
    nav {
      order: 3;
      .Primary-nav {
        padding-inline: clamp(3rem, 13vw, 12rem);
        // padding-right: 2rem;
        height: 65%;
        width: 100%;
        margin-block: 1.2rem;
        font-size: var(--fs-200);
        li {
          padding: 1.2rem 0;
          a span {
            display: inline-block;
          }
        }
      }
    }
  }
  .Header:after {
    content: "";
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 100%;
    order: 2;
    margin-right: -2.5rem;
    margin-left: 1rem;
  }
}

/* ====================================== */
/* Main Content                           */
/* ====================================== */
.Home {
  display: grid;
  text-align: center;
  padding-inline: 1rem;
  place-items: center;
  row-gap: 2rem;
  * {
    max-width: 45ch;
  }
  .Intro {
    text-transform: uppercase;
    color: var(--clr-accent);
    letter-spacing: var(--letter-spacing-1);
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-400);
    span {
      color: var(--clr-white);
      font-family: var(--ff-serif);
      font-size: var(--fs-800);
      display: block;
    }
  }
  p {
    font-size: var(--fs-200);
  }

  .Explore-btn {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-family: var(--ff-serif);
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    display: inline-grid;
    padding: 1em;
    border-radius: 50%;
    aspect-ratio: 1;
    place-items: center;
    margin-bottom: 2rem;
    z-index: 1;
  }

  .Explore-btn::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.18);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
  }

  .Explore-btn:hover::after {
    opacity: 1;
    transform: scale(1.4);
  }
}

@media (min-width: 35em) {
  .Home {
    padding-inline: 4rem;
    .Intro {
      font-size: var(--fs-300);
      margin-top: 2rem;
      max-width: 50ch;
      span {
        font-size: var(--fs-900);
      }
    }
    p {
      font-size: var(--fs-200);
    }
    .Explore-btn {
      padding: 1.5em;
    }
  }
}

@media (min-width: 45em) {
  .Home {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    .Intro {
      font-size: var(--fs-400);
      span {
        font-size: var(--fs-800);
      }
    }
    p {
      font-size: var(--fs-300);
    }
  }
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  color: var(--clr-black);
  background: var(--clr-white);
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.skip-to-content:focus {
  transform: translateY(0);
}
