@import './reset.css';
@import './variable.scss';

:root {
  /* COLORS */
  --clr-white: rgb(255, 255, 255);
  --clr-accent: rgb(208, 214, 249);
  --clr-black: rgb(11, 13, 14);

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* background images */
  --mobile: url('../assets/home/background-home-mobile.jpg');
  --tablet:  url('../assets/home/background-home-tablet.jpg');
  --desktop: url('../assets/home/background-home-desktop.jpg');
}

/* 에니메이션 끄기 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body{
  min-height: 100vh;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: var(--fs-400);
  font-family: var(--ff-sans-normal);
  line-height: 1.5;
}

.App{
  display: grid;
  grid-template-rows: min-content 1fr;
    
  background-position: bottom center;
  background-size: cover;
}

a{
  color: var(--clr-white);
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}

/* ====================================== */
/* ============== Header ================ */
/* ====================================== */
Header{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
  nav{
    background: rgba(255, 255, 255, .3);
    ul{
      display: flex;
      li a span{
        font-weight: bold;
      }
    }
  }
}

/* ====================================== */
/* =========== Main Content ============= */
/* ====================================== */
.App{
  height: 100vh;
  background-image: $mobile;
}

/* medium size */
@media (min-width: 35rem){
  .App{
    background-position: center center;
    background-image: var(--tablet);
  }
}

/* large size */
@media (min-width: 45rem){
  .App{
    background-image: var(--desktop);
  }
}